.main-menu {
  display:flex;
  flex-direction: column;
}
.donut-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.donut-labels {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.donut-labels .donut-label {
  flex:1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.donut-item {
  position: relative;
  flex: 1; /* allow lines to stretch evenly */
  display: flex;
  justify-content: center;
  align-items: center;
}

.donut-label:first-child {
  align-items: flex-start;
}
.donut-label:last-child {
  align-items: flex-end;
}

.submenu .donut-labels-child {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items:center;
}
.submenu .donut-label-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0;
}

.submenu .donut-labels-child:first-child {
  align-items: flex-start;
}
.submenu .donut-labels-child:last-child {
  align-items: flex-end;
}
.submenu .donut-labels-child:first-child .donut-label-wrapper{
  align-items: flex-start;
}
.submenu .donut-labels-child:last-child .donut-label-wrapper{
  align-items: flex-end;
}

.submenu .donut-labels-child:first-child .donut-label-wrapper > button{
  align-self: flex-start;
}
.submenu .donut-labels-child:nth-child(2) .donut-label-wrapper > button{
  align-self: flex-start;
}
.submenu .donut-labels-child:last-child .donut-label-wrapper > button{
  align-self: flex-end;
}.submenu .donut-labels-child:nth-last-child(2) .donut-label-wrapper > button{
  align-self: flex-end;
}

.donut-item:first-child {
  justify-content: flex-start;
}

.donut-item:last-child {
  justify-content: flex-end;
}

.donut-item div {
  display: block;
  width: 20px;
  height: 20px;
  border: 5px solid #333;
  border-radius: 50%;
  background-color: oklch(98% 0.016 73.684);
  z-index: 1;
  text-decoration: none;
}

.donut-item:after {
  content: '';
  position: absolute;
  height: 5px;
  background:  #b59464;
}

/* Draw the connecting line using ::before */
.donut-item:not(:last-child):after {
  top: 50%;
  left: 0%;
  right: -50%;
  transform: translateY(-50%);
  z-index: 0;
}
.donut-item:nth-child(1):after {
  top: 50%;
  left: 0%;
  right: -50%;
  transform: translateY(-50%);
  z-index: 0;
}
.donut-item:nth-last-child(2)::after {
  top: 50%;
  left: 50%;
  right: -100%;
  transform: translateY(-50%);
  z-index: 0;
}

.submenu-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donut-item div{
  border-color: #b59464;
}

.donut-label{
  color: #b59464;
}

.nutrir .donut-label.focus{
  color: #755623;
}
.nutrir.donut-label.focus{
  color: #755623;
}
.nutrir .donut-item.focus div{
  border-color: #755623;
}
.nutrir.donut-item.focus div{
  border-color: #755623;
}

.habitar .donut-label.focus{
  color: #b75303;
}
.habitar .donut-item.focus div{
  border-color: #b75303;
}
.habitar.donut-label.focus{
  color: #b75303;
}
.habitar.donut-item.focus div{
  border-color: #b75303;
}

.comunicar .donut-label.focus{
  color: #db6f10;
}
.comunicar .donut-item.focus div{
  border-color: #db6f10;
}
.comunicar.donut-label.focus{
  color: #db6f10;
}
.comunicar.donut-item.focus div{
  border-color: #db6f10;
}

.nutrir .donut-item:after {
  background: #755623;
}
.habitar .donut-item:after {
  background: #b75303;
}
.comunicar .donut-item:after {
  background: #db6f10;
}

.nutrir.menu-description {
  color: #755623;
}
.habitar.menu-description {
  color: #b75303;
}
.comunicar.menu-description {
  color: #db6f10;
}

.nutrir .page-items .focus {
  color: #755623;
}
.habitar .page-items .focus  {
  color: #b75303;
}
.comunicar .page-items .focus  {
  color: #db6f10;
}

.page-items {
  display: flex;
  flex-direction: column;
  color: #b59464;
  align-items:center;
}
.donut-labels > div:first-child .page-items {
  align-items: flex-start;
}
.donut-labels > div:last-child .page-items {
  align-items: flex-end;
}