.main-menu {
  display:flex;
  flex-direction: column;
  padding:1em;
}
.donut-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.donut-labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.donut-labels .donut-label {
  flex:1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.donut-item {
  position: relative;
  flex: 1; /* allow lines to stretch evenly */
  display: flex;
  justify-content: center;
  align-items: center;
}

.donut-labels .donut-label:first-child {
  align-items: flex-start;
}

.donut-labels .donut-label:last-child {
  align-items: flex-end;
}

.donut-item:first-child {
  justify-content: flex-start;
}

.donut-item:last-child {
  justify-content: flex-end;
}

.donut-item div {
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
  text-decoration: none;
}

/* Draw the connecting line using ::before */
.donut-item:not(:last-child):after {
  content: '';
  position: absolute;
  height: 2px;
  background: #333;
  top: 50%;
  left: 0%;
  right: -50%;
  transform: translateY(-50%);
  z-index: 0;
}
.donut-item:nth-child(1):after {
  content: '';
  position: absolute;
  height: 2px;
  background: #333;
  top: 50%;
  left: 0%;
  right: -50%;
  transform: translateY(-50%);
  z-index: 0;
}
.donut-item:nth-last-child(2)::after {
  content: '';
  position: absolute;
  height: 2px;
  background: #333;
  top: 50%;
  left: 50%;
  right: -100%;
  transform: translateY(-50%);
  z-index: 0;
}

.donut-item.focus div{
  border-color:black;
}
.donut-item.unfocused div{
  border-color:gray;
}

.donut-label.focus{
  color:black;
}
.donut-label.unfocused{
  color:gray;
}

.donut-item.focus::after {
  background-color: gray;
}
.donut-item.unfocused::after {
  background-color: gray;
}

.submenu-links {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}